.header {
  background-color: transparent;
  display: grid;
  grid-template-columns: 1fr 2fr;
  height: 50px;
  width: 100%;
  position: absolute;
  z-index: 10;

  &__title {
    font-weight: 400;
    margin: 1vh 0 0 1vw;

  }

  &__nav {
    background-color: $black;
    height: 100vh;
    padding-top: 2vh;

    @include md {
      background-color: transparent;
      height: auto;
      display: grid;
    }

    &__menu {

      &__icon {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 2em;

        @include md {
          display: none;
        }
      }

      &__item {
        font-size: 2em;
        padding: 10px 0;
        text-transform: uppercase;

        @include md {
          display: inline-block;
          font-size: initial;
          color: initial;
        }

        &__link {
          padding: 0 10px;
          color: $white;

          @include md {
            color: initial;
          }
        }
      }

    }
  }
}

#hiddenMenu {
  display: none;

  @include md {
    display: block !important;
  }

}