@charset "UTF-8";

/*base*/
@import 'base/base';
@import 'base/fonts';

/*vendors*/
@import 'vendor/normalize';

/*helpers*/
@import 'helpers/variables';
@import 'helpers/mixins';

/*componenents*/
@import 'components/buttons';

/*layout*/
@import 'layout/header';
@import 'layout/footer';


body {
  font-family: $body-font;
  color: $black;
  text-align: center;
}

.main {
  background-image: url("../assets/img/main.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  height: 50vh;
  display: grid;
  align-content: center;
  justify-items: center;
  padding: 0 5vw;

  @include md {
    height: 100vh;
  }

  &__txt {
    width: 70%;
  }
}

.presentation {
  min-height: 25vh;
  display: grid;
  justify-items: center;
  padding-bottom: 3vh;

  @include md {
    min-height: 50vh;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 0;
  }

  &__img {
    display: none;

    @include md {
      display: block;
      max-width: 100%;
      min-height: 50vh;
      object-fit: cover;
      overflow: hidden;
    }
  }

  &__article {
    width: 80%;
    display: grid;
    align-content: space-around;
    justify-items: center;

    @include md {
      width: auto;
      padding: 0 2vw;
    }

    &__txt {
      font-weight: lighter;
      line-height: 1.52;
    }
  }
}

.works {
  height: auto;
  display: grid;
  align-content: space-between;
  justify-content: center;
  background-image: url(../assets/img/works_1.jpg);
  background-position: center;
  background-size: cover;

  @include md {
    min-height: 60vh;
  }

  &__title {
    color: $black;
  }

  .btn {
    margin-bottom: 5vh;
  }
}

.services {
  height: auto;
  display: grid;

  &__block {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    @include md {
      grid-template-columns: repeat(3, 1fr);
    }

    &__item {
      display: grid;
      grid-template-columns: 1fr 1fr;
      min-height: 200px;
      min-width: 150px;

      &:nth-child(1)>.services__block__item__title {
        background-color: #02e8ba;
      }

      &:nth-child(2)>.services__block__item__title {
        background-color: #DF4344;
      }

      &:nth-child(3)>.services__block__item__title {
        background-color: #65B343;
      }

      &:nth-child(4)>.services__block__item__title {
        background-color: #884AB7;
      }

      &:nth-child(5)>.services__block__item__title {
        background-color: #FFA200;
      }

      &:nth-child(6)>.services__block__item__title {
        background-color: #3084E6;
      }

      &:nth-child(1)>.services__block__item__icon {
        color: #02e8ba;
      }

      &:nth-child(2)>.services__block__item__icon {
        color: #DF4344;
      }

      &:nth-child(3)>.services__block__item__icon {
        color: #65B343;
      }

      &:nth-child(4)>.services__block__item__icon {
        color: #884AB7;
      }

      &:nth-child(5)>.services__block__item__icon {
        color: #FFA200;
      }

      &:nth-child(6)>.services__block__item__icon {
        color: #3084E6;
      }

      &__title {
        color: $white;
        text-transform: uppercase;
        display: grid;
        align-content: center;
      }

      &__icon {
        font-size: 2.5em;
        display: grid;
        align-content: center;

        @include md {
          font-size: 5em;
        }
      }
    }
  }
}

.aboutus {
  height: auto;
  padding: 0 5vw 5vh 5vw;
  display: grid;
  justify-items: center;
  background-color: rgb(238, 238, 238);

  @include md {
    background-image: url(../assets/img/aboutus_2.jpeg);
    background-size: cover;
    background-position: center;
    padding: 0 0 5vh 0;
    color: $white;
  }

  &__article {
    padding-bottom: 5vh;
    max-width: 70%;
  }

  &__card {
    display: grid;
    min-width: 200px;
    min-height: 200px;
    border: solid grey 1px;
    color: $black;

    @include md {
      border-color: white;
      color: inherit;
      max-width: 350px;
      min-height: 250px;
    }

    &:nth-child(2) {
      margin: 5vh 0;

      @include md {
        margin: 0 2vw;
      }
    }

    &__img {
      border-bottom: solid black 1px;
    }

    &__content {
      text-transform: uppercase;
      padding: 1vh 0;

      &__sns {
        padding-top: 2vh;
      }
    }
  }

  &__card__wrapper {
    display: grid;
    justify-items: center;

    @include md {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

.testimonials {
  min-height: 40vh;
  padding: 0 5vw 5vh 5vw;
  display: grid;
  justify-content: center;

  &__article {
    width: 60vw;
    justify-content: center;

    &>div {
      padding-top: 5vh;
      font-weight: 500;
    }
  }
}

.subscribe {
  padding: 0 5vw 5vh 5vw;
  display: grid;
  justify-content: center;
  background-color: #2B63C2;
  color: $white;

  &__submit {
    padding: 5px 10px;
    border-width: 1px;
    border-color: #ffffff;
    background-color: transparent;
    border-style: solid;
    border-radius: 0px;
    color: $white;
  }

  &__sns {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 1.5em;
  }
}