@charset "UTF-8";

/*base*/
@import '../stylesheets/base/base.scss';
@import '../stylesheets/base/fonts.scss';

/*vendors*/
@import '../stylesheets/vendor/normalize.scss';

/*helpers*/
@import '../stylesheets/helpers/variables.scss';
@import '../stylesheets/helpers/mixins.scss';

/*componenents*/
@import '../stylesheets/components/buttons.scss';

body {
  /*background-color: $red;*/
  font-family: $body-font;
  color: $black;
  text-align: center;

  @include md {
    /*background-color: $blue;*/
  }

  @include lg {
    /*background-color: $yellow;*/
  }
}

.header {
  background-color: transparent;
  display: grid;
  grid-template-columns: 1fr 2fr;
  height: 50px;
  width: 100%;
  position: absolute;
  z-index: 10;

  &__nav {
    background-color: $black;
    height: 100vh;
    padding-top: 2vh;
    

    @include md {
      background-color: transparent;
      height: auto;
      display: grid;
    }
  }

  &__nav__menu__item {
    font-size: 2em;
    padding: 10px 0;
    text-transform: uppercase;

    @include md {
      display: inline-block;
      font-size: initial;
      color: initial;
    }

    &__link {
      padding: 0 10px;
      color: $white;

      @include md {
        color: initial;
      }
    }
  }
}

.main {
  background-image: url("../assets/img/works_1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 50vh;
  display: grid;
  align-content: center;
  justify-items: center;
  padding: 0 5vw 5vh 5vw;

  @include md {
    height: 100vh;
  }

  &__txt {
    width: 70%;
  }

}

.presentation {
  min-height: 25vh;
  display: grid;
  justify-items: center;

  @include md {
    height: auto;
    grid-template-columns: 1fr 1fr;
  }

  &__img {
    display: none;

    @include md {
      display: block;
      width: 100%;
      object-fit: cover;
      overflow: hidden;
    }
  }

  &__article {
    width: 80%;
    display: grid;
    align-content: center;
    justify-items: center;

    @include md {
      width: auto;
      padding: 0 2vw;
    }
  }
}

.works {
  height: auto;
  display: grid;
  align-content: space-between;
  justify-content: center;
  background-image: url(../assets/img/works_1.jpg);
  overflow: hidden;
  background-position: center;
  background-size: cover;

  @include md {
    min-height: 60vh;
  }

  &__title {
    color: $black;
  }

  .btn {
    margin-bottom: 5vh;
  }
}

.services {
  height: auto;
  display: grid;

  &__block {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    @include md {
      grid-template-columns: repeat(3, 1fr);
    }

    &__item {
      display: grid;
      grid-template-columns: 1fr 1fr;
      height: 200px;

      &:nth-child(1)>.services__block__item__title {
        background-color: #02e8ba;
      }

      &:nth-child(2)>.services__block__item__title {
        background-color: #DF4344;
      }

      &:nth-child(3)>.services__block__item__title {
        background-color: #65B343;
      }

      &:nth-child(4)>.services__block__item__title {
        background-color: #884AB7;
      }

      &:nth-child(5)>.services__block__item__title {
        background-color: #FFA200;
      }

      &:nth-child(6)>.services__block__item__title {
        background-color: #3084E6;
      }

      &:nth-child(1)>.services__block__item__icon {
        color: #02e8ba;
      }

      &:nth-child(2)>.services__block__item__icon {
        color: #DF4344;
      }

      &:nth-child(3)>.services__block__item__icon {
        color: #65B343;
      }

      &:nth-child(4)>.services__block__item__icon {
        color: #884AB7;
      }

      &:nth-child(5)>.services__block__item__icon {
        color: #FFA200;
      }

      &:nth-child(6)>.services__block__item__icon {
        color: #3084E6;
      }

      &__title {
        color: $white;
        text-transform: uppercase;
        display: grid;
        align-content: center;
      }

      &__icon {
        font-size: 5em;
        display: grid;
        align-content: center;

      }
    }
  }
}

.aboutus {
  height: auto;
  padding: 0 5vw 5vh 5vw;
  display: grid;
  justify-items: center;
  background-color: rgb(238, 238, 238);

  @include md {
    background-image: url(../assets/img/aboutus_2.jpeg);
    background-size: cover;
    background-position: center;
    padding: 0 0 5vh 0;
    color: $white;
  }

  &__article {
    padding-bottom: 5vh;
    max-width: 70%;
  }

  &__card {
    display: grid;
    width: 250px;
    height: 250px;
    border: solid grey 1px;
    color: $black;

    @include md {
      border-color: white;
      color: inherit;
    }

    &:nth-child(2) {
      margin: 5vh 0;

      @include md {
        margin: 0 2vw;
      }
    }

    &__img {
      border-bottom: solid black 1px;
    }

    &__content {
      text-transform: uppercase;

      &__sns {
        padding-top: 2vh;
      }
    }
  }

  &__card__wrapper {
    display: grid;
    justify-items: center;

    @include md {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

.testimonials {
  height: 40vh;
  padding: 0 5vw 5vh 5vw;
  display: grid;
  justify-content: center;

  &__article {
    width: 60vw;
    justify-content: center;

    &>div {
      padding-top: 5vh;
      font-weight: 500;
    }
  }
}

.subscribe {
  padding: 0 5vw 5vh 5vw;
  display: grid;
  justify-content: center;
  background-color: #2B63C2;
  color: $white;

  &__submit {
    padding: 5px 10px;
    border-width: 1px;
    border-color: #ffffff;
    background-color: transparent;
    border-style: solid;
    border-radius: 0px;
    color: $white;
  }
}

.footer {
  background-color: rgb(46, 43, 43);
  display: grid;
  padding: 3vh;

  &__menu__items {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }

  &__address {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 1vh;
  }
}

#hiddenMenu {
  display: none;

  @include md {
    display: initial;
  }
}

.header__menu__icon {
  position: absolute;
  top: 10px;
  right: 10px;

  @include md {
    display: none;
  }
}