<!DOCTYPE html>
<html lang="en">

<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="description" content="<%= htmlWebpackPlugin.options.metaDesc %>" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://kit.fontawesome.com/7d28104acb.js" crossorigin="anonymous"></script>
</head>

<body>
  <header class="header">
    <h2 class="header__title">.ONETOWN</h2>
    <nav class="header__nav" id="hiddenMenu">
      <ul class="header__nav__menu">
        <li class="header__nav__menu__item"><a href="" class="header__nav__menu__item__link">about us</a></li>
        <li class="header__nav__menu__item"><a href="" class="header__nav__menu__item__link">work</a></li>
        <li class="header__nav__menu__item"><a href="" class="header__nav__menu__item__link">services</a></li>
        <li class="header__nav__menu__item"><a href="" class="header__nav__menu__item__link">blog</a></li>
        <li class="header__nav__menu__item"><a href="" class="header__nav__menu__item__link">careers</a></li>
        <li class="header__nav__menu__item"><a href="" class="header__nav__menu__item__link">contact</a></li>
      </ul>
    </nav>
    <a href="javascript:void(0);" class="icon header__menu__icon" onclick="hiddenMenu()"><i
        class="fas fa-bars 2x"></i></a>
  </header>
  <main id="wrapper">
    <article class="main">
      <article class="main__txt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid nesciunt, modi ea
        voluptas, porro iusto, facilis nisi ab deserunt eligendi ratione repudiandae soluta adipisci? Architecto
        assumenda id consectetur ipsum natus!
      </article>
      <button class="btn btn--white">SHOW MORE</button>
    </article>
    <article class="presentation">
      <img class="presentation__img" src="./assets/img/forest.jpg" alt="forest" />
      <div class="presentation__article">
        <div class="presentation__article__txt">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sapiente quae
          reprehenderit veniam voluptatum nobis nihil labore rem tenetur atque inventore.</div>
        <button class="btn btn--white">SHOW MORE</button>
      </div>
    </article>
    <article class="works">
      <h2 class="works__title">featured works</h2>
      <button class="btn btn--black">SHOW MORE</button>
    </article>
    <article class="services">
      <h2 class="services__title">our services</h2>
      <div class="services__block">
        <div class="services__block__item">
          <div class="services__block__item__icon"><i class="fas fa-mobile-alt"></i></div>
          <div class="services__block__item__title">mobiles app</div>
        </div>
        <div class="services__block__item">
          <div class="services__block__item__icon"><i class="far fa-window-maximize"></i></div>
          <div class="services__block__item__title">website design & coding</div>
        </div>
        <div class="services__block__item">
          <div class="services__block__item__icon"><i class="fas fa-pencil-alt"></i></div>
          <div class="services__block__item__title">identity creation</div>
        </div>
        <div class="services__block__item">
          <div class="services__block__item__title">brand promotion</div>
          <div class="services__block__item__icon"><i class="fas fa-bullhorn"></i></div>
        </div>
        <div class="services__block__item">
          <div class="services__block__item__title">graphic design</div>
          <div class="services__block__item__icon"><i class="fas fa-paint-brush"></i></div>
        </div>
        <div class="services__block__item">
          <div class="services__block__item__title">motion dynamics</div>
          <div class="services__block__item__icon">i<i class="fas fa-photo-video"></i></div>
        </div>
      </div>
    </article>
    <article class="aboutus">
      <h2 class="aboutus__title">about us</h2>
      <article class="aboutus__article">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab accusantium nam
        velit voluptate ea maiores quae deleniti a. Cupiditate pariatur sint, non odit distinctio illum quia inventore
        hic qui quo.</article>
      <div class="aboutus__card__wrapper">
        <article class="aboutus__card">
          <img class="aboutus__card__img" src="./assets/img/aboutus_1.jpg" alt="a work meeting">
          <div class="aboutus__card__content">Lorem ipsum dolor sit amet consectetur adipisicing elit.
            <div class="aboutus__card__content__sns">
              <i class="fab fa-skype"></i>
              <i class="fab fa-dribbble"></i>
              <i class="fab fa-twitter"></i>
              <i class="fab fa-google-plus-g"></i>
            </div>
          </div>
        </article>
        <article class="aboutus__card">
          <img class="aboutus__card__img" src="./assets/img/aboutus_1.jpg" alt="a work meeting">
          <div class="aboutus__card__content">Lorem ipsum dolor sit amet consectetur adipisicing elit.
            <div class="aboutus__card__content__sns">
              <i class="fab fa-skype"></i>
              <i class="fab fa-dribbble"></i>
              <i class="fab fa-twitter"></i>
              <i class="fab fa-google-plus-g"></i>
            </div>
          </div>
        </article>
        <article class="aboutus__card">
          <img class="aboutus__card__img" src="./assets/img/aboutus_1.jpg" alt="a work meeting">
          <div class="aboutus__card__content">Lorem ipsum dolor sit amet consectetur adipisicing elit.
            <div class="aboutus__card__content__sns">
              <i class="fab fa-skype"></i>
              <i class="fab fa-dribbble"></i>
              <i class="fab fa-twitter"></i>
              <i class="fab fa-google-plus-g"></i>
            </div>
          </div>
        </article>
      </div>
    </article>
    <article class="testimonials">
      <h2 class="testimonials__title">testimonials</h2>
      <article class="testimonials__article">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Itaque labore
        eius eos iusto, commodi non, iure ex esse pariatur iste rem alias. Voluptates consequatur aperiam illo sapiente
        amet dicta itaque porro non asperiores debitis alias voluptas odio est natus facere sit ipsam, laborum ipsum
        reiciendis maxime magnam! Provident, commodi iure?</article>
      <span>Lorem ipsum dolor sit amet consectetur adipisicing.</span>
    </article>
    <article class="subscribe">
      <h2 class="subscribe__title">subscribe to our newsletter</h2>
      <input type="email" name="" placeholder="Enter Your Email Address" id="" class="subscribe__input">
      <button type="submit" class="subscribe__submit">SUBMIT</button>
      <h5 class="subscribe__txt">.ONETOWN</h5>
      <div class="subscribe__sns">
        <i class="fab fa-twitter"></i>
        <i class="fab fa-facebook-f"></i>
        <i class="fab fa-pinterest"></i>
        <i class="fab fa-linkedin"></i>
        <i class="fab fa-skype"></i>
      </div>
    </article>
  </main>
  <div class="exo">
    <label for="nb-select">Pick a number:</label>
    <select name="nb" id="nb-select">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="TEST">TEST</option>
    </select>
    <div id="showExo">

    </div>
  </div>
  <footer class="footer">
    <nav class="footer__menu">
      <ul class="footer__menu__items">
        <li class="footer__menu__item"><a href="" class="footer__menu__item__link">about us</a></li>
        <li class="footer__menu__item"><a href="" class="footer__menu__item__link">work</a></li>
        <li class="footer__menu__item"><a href="" class="footer__menu__item__link">services</a></li>
        <li class="footer__menu__item"><a href="" class="footer__menu__item__link">blog</a></li>
        <li class="footer__menu__item"><a href="" class="footer__menu__item__link">careers</a></li>
        <li class="footer__menu__item"><a href="" class="footer__menu__item__link">contact</a></li>
      </ul>
    </nav>
    <address class="footer__address">
      <a href="" class="footer__address__link">EMAIL: info@domain.com</a>
      <a href="" class="footer__address__link">ST.LOUIS: (123) 456 7890</a>
    </address>
  </footer>
  <script>
    function hiddenMenu() {
      let x = document.getElementById("hiddenMenu");
      if (x.style.display === "block") {
        x.style.display = "none";
      } else {
        x.style.display = "block";
      }
    }
  </script>
</body>

</html>